<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE">HoPaw</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}">
    <link rel="stylesheet" th:href="@{/css/page/login.css}">
    <th:block layout:fragment="extraCss"></th:block>
</head>
<body th:class="${currentTheme == 'dark' ? 'dark-theme' : ''}" class="login-body">
<div class="login-root" layout:fragment="content">
    <!-- content from child template -->
</div>
<th:block layout:fragment="extraJs"></th:block>
</body>
</html>
