<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agent.hopaw.infra.mapper.ChatMemoryMapper">

    <resultMap id="ChatMemoryResultMap" type="com.agent.hopaw.infra.model.entity.ChatMemory">
        <id property="id" column="id"/>
        <result property="agentId" column="agent_id"/>
        <result property="userId" column="user_id"/>
        <result property="messageId" column="message_id"/>
        <result property="messageJson" column="message_json"/>
        <result property="status" column="status"/>
        <result property="sessionId" column="session_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="findBySessionId" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE session_id = #{sessionId}
        ORDER BY create_time ASC
    </select>

    <select id="findByAgentIdAndUserIdInStatus" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE agent_id = #{agentId} AND user_id = #{userId}
        <if test="status!=null and status.size()>0">
            AND status in
            <foreach collection="status" separator="," item="item" close=")" open="(">
                #{item}
            </foreach>
        </if>
        ORDER BY create_time ASC
    </select>


    <select id="findBySessionIdAndStatus" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE session_id = #{sessionId}
        <if test="status!=null and status.size()>0">
            AND status in
            <foreach collection="status" separator="," item="item" close=")" open="(">
                #{item}
            </foreach>
        </if>
        ORDER BY create_time ASC
    </select>

    <select id="findByAgentIdAndUserId" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE agent_id = #{agentId} AND user_id = #{userId}
        ORDER BY create_time ASC
    </select>
    <select id="findByAgentIdAndUserIdAndStatus" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE agent_id = #{agentId} AND user_id = #{userId} AND status = #{status}
        ORDER BY create_time ASC
    </select>

    <insert id="insert">
        INSERT INTO chat_memory (agent_id, user_id, message_id, message_json, status, session_id, request_id, create_time)
        VALUES (#{agentId}, #{userId}, #{messageId}, #{messageJson}, 0, #{sessionId}, #{requestId}, #{createTime})
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT last_insert_rowid()
        </selectKey>
    </insert>

    <update id="updateStatus">
        UPDATE chat_memory
        SET status = #{status}
        WHERE user_id = #{userId} AND session_id = #{sessionId} AND message_id = #{messageId}
    </update>
    <update id="updateStatusByStatus">
        UPDATE chat_memory
        SET status = #{status}
        WHERE session_id = #{sessionId} AND user_id = #{userId} AND status = #{oldStatus}
    </update>

    <update id="updateByMessageId">
        UPDATE chat_memory
        SET message_json = #{messageJson}
        WHERE agent_id = #{agentId} AND user_id = #{userId} AND message_id = #{messageId}
    </update>

    <update id="updateStatusByAgentId">
        UPDATE chat_memory
        SET status = #{status}
        WHERE agent_id = #{agentId}
    </update>
    <update id="updateStatusBySessionId">
        UPDATE chat_memory
        SET status = #{status}
        WHERE session_id = #{sessionId}
    </update>
    <delete id="deleteBySessionIdAndUserId">
        DELETE FROM chat_memory
        WHERE session_id = #{sessionId}
        <if test="userId!=null">
            AND user_id = #{userId}
        </if>
    </delete>

    <update id="updateStatusBySessionIdAndRequestId">
        UPDATE chat_memory
        SET status = #{newStatus}
        WHERE session_id = #{sessionId} AND request_id = #{requestId} and status = #{status}
    </update>

    <delete id="deleteByMessageId">
        DELETE FROM chat_memory
        WHERE user_id = #{userId} AND session_id = #{sessionId} AND message_id = #{messageId}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM chat_memory
        WHERE  id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByAgentId">
        DELETE FROM chat_memory
        WHERE agent_id = #{agentId}
    </delete>
    <select id="findObsoleteDistinctSessionUserPairs" resultMap="ChatMemoryResultMap">
        SELECT DISTINCT session_id, user_id
        FROM chat_memory_obsolete
    </select>
    <select id="findObsoleteChatMemoryBySessionIdAndUserId" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory_obsolete
        WHERE session_id = #{sessionId} AND user_id = #{userId}
        ORDER BY create_time ASC
    </select>
    <select id="findTaskDoneDistinctSessionUserPairs" resultMap="ChatMemoryResultMap">
        SELECT DISTINCT session_id, user_id
        FROM chat_memory
        WHERE status = #{status}
    </select>
    <select id="findTaskDoneChatMemoryBySessionIdAndUserIdAfterId" resultMap="ChatMemoryResultMap">
        SELECT id, agent_id, user_id, message_id, message_json, status, session_id, create_time
        FROM chat_memory
        WHERE session_id = #{sessionId} AND user_id = #{userId} AND id > #{lastId}
        <if test="status!=null and status.size()>0">
            AND status in
            <foreach collection="status" separator="," item="item" close=")" open="(">
                #{item}
            </foreach>
        </if>
        ORDER BY id ASC
    </select>
    <delete id="deleteObsoleteChatMemoryByIds">
        DELETE FROM chat_memory_obsolete
        WHERE  id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
