<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/default}">
<head>
    <title>设置 - HoPaw</title>
</head>
<body>
<div layout:fragment="pageTitle">设置</div>

<main layout:fragment="content" class="settings-content">
    <h2>系统设置</h2>

    <div class="settings-tabs">
        <a th:href="@{/settings/memory}" class="settings-tab" th:classappend="${currentTab == 'memory' ? 'active' : ''}">记忆设置</a>
        <a th:href="@{/settings/mail}" class="settings-tab" th:classappend="${currentTab == 'mail' ? 'active' : ''}">邮件配置</a>
        <a th:href="@{/settings/tts}" class="settings-tab" th:classappend="${currentTab == 'tts' ? 'active' : ''}">TTS语音</a>
        <a th:href="@{/settings/plugin-store}" class="settings-tab" th:classappend="${currentTab == 'plugin-store' ? 'active' : ''}">插件商店源</a>
    </nav></div>

    <div th:replace="~{__${'settings/' + currentTab}__ :: content}"></div>
</main>

<th:block layout:fragment="extraCss">
    <link rel="stylesheet" th:href="@{/css/page/settings.css}">
    <th:block th:if="${tabCss != null}">
        <link rel="stylesheet" th:href="@{${tabCss}}">
    </th:block>
</th:block>

<th:block layout:fragment="extraScripts">
    <script th:src="@{/js/page/settings-common.js}"></script>
    <th:block th:if="${tabJs != null}">
        <script th:src="@{${tabJs}}"></script>
    </th:block>
</th:block>
</body>
</html>